body {
    background-color: white;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

/* NAV BAR */
nav{
    background-color: rgb(80, 80, 250);
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
}

.nav-search{
    position: absolute;
    display: block;
    width: 100%;
    margin: 22px 0 22px 30px;
    text-align: center;
}

.nav-search-box {
    display: inline-block;
    width: 260px;
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
}

.nav-search-box * {
    display: inline-block; 
    padding: 3px;
    vertical-align: middle;
}

.nav-search-box span{
    padding: 0;
}

.nav-search-box .shortcut{
    background-color: rgb(10, 10, 150);
    width: 50px;
    border-radius: 5px;
}

.nav-search-box .small{
    font-size: 8px;
    text-transform: uppercase;
}

.nav-search-box .medium{
    font-size: 14px;
}


.nav-search .search-icon{    
    width: 22px;
    color: white;
}

.nav-search input{
    width: 150px;
    background-color: transparent;
    border: none;
    
}
.nav-search input::placeholder{
    color: rgba(240,240,240,0.7);
}


.nav-menu {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.nav-menu *{
    color: white;
}

.nav-menu ul{
    display: flex;
    align-items: center;    
}

.nav-menu li{
    padding: 10px;
}

/* Main */

main {
    background-image: linear-gradient(to right top, rgba(230,230,253,0.8),rgba(235,235,250,0.85),rgb(240,240,252),rgba(230,230,250,0.7), rgb(250,250,210,0.9));
}
.single-column-center{
    text-align: center;
    margin: 0 auto;
    width: 850px;
}

.badge{
    background-color: rgba(230,230,100);
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;    
}

.single-column-center > p:first-child{
    font-size: 20px;
    margin: 0;
    padding-top: 40px;
}

.mr-5{
    margin-right: 5px;
}

.bootstrap-logo-blue{
    margin-top: 30px;
    width: 170px;
}

.single-column-center h1{
    font-size: 66px;
    font-weight: 600;
    margin-bottom:10px;
}

.single-column-center h3{
    font-size: 30px;
    font-weight: 400;
    margin: 22px 0px;
}

.single-column-center p{
    margin: 5px 0;
}


.lighter-color{
    color: rgba(80,80,80,0.8);
}

.main-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-column-center .main-row{
    margin: 10px 0;
}

.inline-code{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 26px 28px;
    background-color: rgb(230,230,230);
    font-family: monospace;
    border-radius: 12px;
    border: 1px solid rgb(190,190,190);
    max-width: 530px;
}

.inclide-code .img-copy-to-clipboard{
    margin-top: 10px;
}

.long-code{
    overflow: auto;
    scroll-margin-top: 12px;
    padding: 18px;
}

.span-inline-code{
    margin-right: 20px;
    text-wrap: nowrap;
}

.inline-code button{
    border: none;
    margin-left: auto;
}


.inline-code .img-copy-to-clipboard{
    height: 26px;
    width: 26px;
}

.main-row .inline-code{
    margin-right: 20px;
    font-size: 20px;    
}

.large-button{
    padding: 26px 40px;
    background-color: rgb(50,50,240);
    color: rgba(250,250,250,0.95);
    font-weight: bold;
    font-size: 21px;
    border-radius: 12px;
}

.horizontal-list-ul{
    display:flex;
    align-items:center;
    justify-content: center;
}

main .horizontal-list-ul li {
    margin-top: 20px;
    margin-right: 6px;    
}

.horizontal-list-ul a{
    text-decoration: underline;
}
main .horizontal-list-ul *{
    color: rgba(35,35,35,0.8);
} 

/* Main second part */
.single-column-center-narrower{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 620px;
}

.single-column-center-narrower .blue-badge{
    background-color: rgba(200,200,250,0.6);
    width: 90px;
    height: 90px;
    border-radius: 20px;
    margin: 0 auto;
    font-size: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(60, 60, 250);
    margin-top: 70px;
    margin-bottom: 30px;
}

.single-column-center-narrower h2{
    font-size: 52px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 16px;
}

.single-column-center-narrower h4{
    font-size: 26px;
    font-weight:bold;
    margin-bottom: 18px;
}

.single-column-center-narrower h6{
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 18px 0;
}




.single-column-center-narrower a{
    font-size: 28px;
    text-decoration: underline;    
    color:rgb(70, 70, 250)
}

.blue-arrow-img{
    width: 25px;
    height: 25px;
}


/* DOUBLE COLUMN */
.double-column{
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 0 auto;
    width: 1200px;
}

.double-column .box-wrapper{
    margin-top: 65px;
    padding: 30px;
    flex: 1;
}

.double-column .box-wrapper:first-child{
    border-right: 1px solid rgb(200,200,200);
}

.box-wrapper h3{
    font-size: 34px;
    font-weight: 600;
    margin: 0;
    margin-top: 15px;
}

.box-wrapper p {
    font-size: 22px;
    line-height: 1.3;
}

.box-wrapper .inline-code{
    padding: 20px;
    margin-bottom: 24px;
}





.triple-block{
    display:flex;
    justify-content: center;
}

.img-wrapper{
    display: flex;
    flex-direction: column;
}

.img-wrapper img{
    margin-right: 8px;
    margin-left: 8px;
    padding: 9px;
    height: 68px;
    width: 68px;
}

.img-wrapper span{
    display: block;
    margin: 8px 0;
    font-size: 16px;
}

/* Page3 single block left align */
.wrapper-single-column{
    display: flex;
    justify-content: flex-start;
    width: 760px;
    margin-left: 225px;
    padding: 0;
}

.wrapper-single-column .single-column-left-align .h2-wrapper{
    width: 670px;
    font-size: 37px;
    font-weight: 400;
    line-height: 1.5;
}

.single-column-left-align{
    margin-left: 60px;
}
.single-column-left-align h2{
    margin: 30px 0;
}

.img-wrapper-row{
    display: flex;
}


.wrapper-single-column .single-column-left-align a, p{
    font-size: 24px;
    line-height: 1.2;
}
.wrapper-single-column .single-column-left-align a{
    text-decoration: underline;
    color: rgb(70, 70, 250);
}

.wrapper-single-column .single-column-left-align .blue-arrow-img{
    width: 26px;
}

/* Double column */
.double-column .box-wrapper p{
    font-size: 20px;
}
.double-column .box-wrapper a{
    text-decoration: underline;
    color: rgb(70, 70, 250);
}

/* Fifth part */
.wrapper-single-column .img-wrapper{
    display: flex;
}

.wrapper-double-navbars{
    border: 1px solid rgba(200,200,250,0.6);
    padding: 30px;
    margin-bottom: 35px;
}

.navbar-ul-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-ul-wrapper ul{
    display: flex;
}

.rectangle-ul{
    color: rgb(70, 70, 250);
    margin-bottom: 30px;
}

.rectangle-li {
    padding: 13px 20px;
}

.rectangle-li.active{
    color: white;
    background-color: rgb(70, 70, 250);
    border-radius: 8px;
}

.rounded-ul{
    background-color: rgb(70, 70, 250);
    color: white;
    display: flex;
    justify-content: space-evenly;
    border-radius: 100px;
    padding: 8px;
}
.rounded-ul li{
    flex:1;
}

.rounded-button.active{
    color: rgb(70, 70, 250);
    background-color: white;
    border-radius: 20px;
}

.rounded-button{
    padding:13px 0;
    border: none;
    width: 100%;
    color: white;
    background-color: transparent;
    display: inline-block;
}
/* Grid container */
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    border-top: 1px solid rgba(100,100,100,0.7);
    padding-top: 26px;
}

.grid-container h5{
    font-size: 20px;
    margin: 6px 10px 6px 10px;
}
.grid-container p{
    margin: 6px 10px 22px 10px;
}
.grid-items *{
    font-size: 14px;
}



/* 7th page big text and big image */
.box-wrapper .bigtext{
    border: none;
}
.box-wrapper.bigtext .h2-wrapper{
    font-size: 40px;
    width: 570px;
}
.box-wrapper.bigtext p{
    font-size: 22px;
}

.box-wrapper.big-image img{
    width: 570px;
    height: 340px;
    margin-top: 110px;
}



/* Footer */
footer{
    display: flex;
    background-color: rgb(229,229,229);
    margin:0;
    padding: 60px 20px;
}
.footer-container{
    display: flex;
    justify-content: center;
    width: 1000px;
    flex: 1;
}
footer .text-wrapper{
    width: 280px;
    padding: 22px 30px;
    margin-right: 34px;
}

.text-wrapper h6{
    font-size: 16px;
    font-weight: 400;
    margin: 14px 0;
}

.footer-box{
    padding: 26px;
    margin: 0 11px;
}
.footer-title{
    font-size: 24px;
    margin: 22px 0;
    display: flex;
    align-items: center;
}
.footer-logo{
    margin-right: 10px;
}
footer ul{
    display: flex;
    flex-direction: column;
}

footer li{
    margin-bottom: 12px;
}

.bold-link{
    font-weight: bold;
}




















